body {
    font-family: 'Poppins', sans-serif;
}

.icon-bg {
    background: rgb(36,146,237);
    background: linear-gradient(158deg, rgba(36,146,237,1) 13%, rgba(27,77,186,1) 84%);
}

.cta-button {
    background-color: rgb(240,96,97);
}

.yellow-bg {
    background: rgb(190,147,1);
    background: linear-gradient(158deg, rgba(190,147,1,1) 0%, rgba(255,197,2,1) 55%);
}

.red-bg {
    background: rgb(235,55,97);
    background: linear-gradient(158deg, rgba(235,55,97,1) 13%, rgba(190,55,97,1) 84%);
}

.custom-shape-divider-top-1689610645 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689610645 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 42px;
}

.custom-shape-divider-top-1689610645 .shape-fill {
    fill: #ECF2FF;
}
