body {
    font-family: 'Poppins', sans-serif;
}

.subtitlefont {
    font-family: 'Raleway', sans-serif;
}
.icon-bg {
    background: rgb(36,146,237);
    background: -moz-linear-gradient(180deg, rgba(36,146,237,1) 0%, rgba(27,77,186,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(36,146,237,1) 0%, rgba(27,77,186,1) 100%);
    background: linear-gradient(180deg, rgba(36,146,237,1) 0%, rgba(27,77,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2492ed",endColorstr="#1b4dba",GradientType=1);
}

.cta-button {
    background-color: rgb(240,96,97);
}

.yellow-bg {
    background: rgb(190,147,1);
    background: linear-gradient(158deg, rgba(190,147,1,1) 0%, rgba(255,197,2,1) 55%);
}

/* .red-bg {
    background: rgb(235,55,97);
    background: linear-gradient(158deg, rgba(235,55,97,1) 13%, rgba(190,55,97,1) 84%);
} */

.cardshadow {
    box-shadow: 0 23px 10px 0 rgba(0, 0, 0, 0.2), 0 23px 25px 0 rgba(0, 0, 0, 0.19);
}

.custom-shape-divider-top-1689679228 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1689679228 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-top-1689679228 .shape-fill {
    fill: #ECF2FF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1689679228 svg {
        width: calc(141% + 1.3px);
        height: 42px;
    }
}
